@import url('https://fonts.googleapis.com/css?family=Roboto+Mono:400,700&display=swap');

body {
  margin: 0 auto;
  padding: 1em;
  max-width: 60em;
  font-family: 'Roboto Mono', sans-serif;
  line-height: 1.5;
  color: #2d354c;
  background-image: radial-gradient(circle at center, #60b3f7, #38a5e9, #017bbc);
  background-size: 100%;
  animation: gradientAnimation 10s ease-in-out infinite;
}

@keyframes gradientAnimation {
  0% { background-position: 0 0; }
  50% { background-position: 100% 0; }
  100% { background-position: 0 0; }
}

button,
input {
  font: inherit;
  color: inherit;
}

th,
td,
button,
input {
  padding: 0.55em 1em;
  margin-left: auto;
  margin-right: auto;
}

table#cart {
  width: 100%;
  border-collapse: collapse;
}

table#cart tfoot {
  background: #eee;
  margin: 0 auto;
  width: 80%;
  max-width: 60em;
}

table#cart td,
table input {
  border: 1px solid #dadada;
}

table input[type='number'] {
  max-width: 4em;
}

.btn {
  display: inline-block;
  border: 0;
  border-radius: 0.25em;
  cursor: pointer;
  margin-left: 13px;
  box-shadow: 1px 2px 3px rgba(56, 56, 56, 0.542);
}

.btn-success,
.btn-remove {
  color: #00000080;
}
#remove-btn {
  width: calc(81%);
 
}

.btn-success {
  background-color: #2cc5fa;
}

.btn-remove {
  background-color: #f27471;
}

h1,
h2,
.calculate-total {
  text-align: center;
}

h1 {
  font-size: 4rem;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  text-shadow: 1px 1px 2px #000;
}

#calculate {
  margin-left: 10px;
}